.NavBar {
    position:sticky;
    top: 0px;
    right: 0px;
    display: flex;
    align-content: space-between;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}

.NavBarElement {
    display: flex;
    align-content: center;
    padding: 8.0px;
    margin: 5px 8px 5px 4px;
    column-count: 2;
}

.NavElement {
    font-size: 20px;
    padding: 6.0px;
    align-content: center;
}

.NavElement #icon{
    height: 30px;
    width: 30px;
    padding-right: 3px;
    font-size: 25px;
    
}

.body{
    align-content: center;
}

.EmployeeCard{
    margin-left: auto;
    margin-right: auto;
    height:max-content;
    width:500px;
    box-shadow: 2px 2px 4px 1px rgb(29, 29, 29);
    border-radius: 8px;
    background-color: rgb(58, 58, 58);
    order: -1;

}

.EmployeeCard #name{
    margin: 8px 8px 5px 8px;
    font-size: 40px;
    text-align: left;
    font-weight: 700;

}

.EmployeeCard #title{
    margin-left: 8px;
    margin-bottom: 8px;
    font-size: 12px;
    text-align: left;
    color: rgb(189, 189, 189);

}

.EmployeeCard #bio{
    margin-left: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    text-align: left;
    color: rgb(236, 236, 236);

}


.EmployeeCard #contactinfo{
    margin-left: 8px;
    margin-bottom: 8px;
    margin-top:8px;
    font-size: 16px;
    text-align: left;
}

.EmployeeCard #addressLine{
    margin-left: 8px;
    margin-bottom: 8px;
    margin-top:8px;
    font-size: 16px;
    text-align: left;
    color:rgb(255, 255, 255)
}

.EmployeeCard #contactInfo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.EmployeeCard hr{
    border: 1px solid rgb(155, 155, 155);
    background-color: rgb(155, 155, 155);
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 10px;
}


.InputBox{
    height: 60px;
    width: 200px;
    padding: 8px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}   